/coco
# /exdata
/ppdata
__pycache__
/__pycache__
*/__pycache__
doe2vec/__pycache__
# /doe_saves
*.pyc
/venv
/__pycache__
/model
/__pycache__
__pycache__/evo.cpython-39.pyc
__pycache__/main.cpython-39.pyc
/doe_saves
.coco_external_build
